.wrapper {
    margin: auto;
    padding: 0 20px;
    max-width: 1400px;

    @include s {
        padding: 0 25px;
    }

    @include lg {
        padding: 0 30px;
    }

    @include xlg {
        padding: 0 2rem;
    }
}