{{ partial:frontpage/header }}

{{ partial:frontpage/scroll_animation }}

{{ partial:frontpage/inspiration_video }}

{{ partial:frontpage/b2b }}

{{ partial:frontpage/sustainable_section }}

{{ partial:frontpage/categories }}

{{ partial:lollipop_builder_cta }}

{{ partial:frontpage/gift_idea_section }}

<div class="wrapper narrow mt-3 instagram-feed-container">
    <a href="https://www.instagram.com/sugarpilots/" target="_blank"><h1 class="text-center mb-3">@SUGARPILOTS</h1></a>
    <instagram-feed></instagram-feed>
    <p class="text-center mt-4">Følg os på Instagram <a class="bold" href="https://www.instagram.com/sugarpilots/" target="_blank">@sugarpilots</a> og følg vores rejse i den søde verden.</p>
</div>

{{ partial:frontpage/newsletter }}

