<div class="lollipop-builder-cta" data-aos="fade-up" data-aos-duration="1000" style="background-color: {{ lollipop_builder_cta_background }}">
    <div class="wrapper narrow">
        <div class="inner-content">
            <lottie-animation animation="{{ lollipop_builder_animation }}" class="main-left"></lottie-animation>
        <div class="main-right">
            <h4> {{ lollipop_builder_cta_title }} </h4>
            <p> {{ lollipop_builder_text }} </p>
            <a href="/design-din-egen-slikkepind" class="btn expand-cursor">Design</a>
        </div>
        </div>
    </div>
</div>