<nav class="main-navigation wrapper">
    <div class="logo"><a href="{{ env:APP_URL }}" class="expand-cursor">sugarpilots</a></div>
    <ul class="links">
        {{ nav from="/" }}
        <li class="expand-cursor">
            <a href="{{ url }}">
                {{ if menu_title }}
                    {{ menu_title }}
                {{ else }}
                    {{ title }}
                {{ /if }}
            </a>
        </li>
        {{ /nav }}
    </ul>
    <div class="cart" data-feather="shopping-bag">

    </div>
    
</nav>



