<div class="sustainable-section">
        <div class="wrapper">
            <h4>{{ sustainable_title }}</h4>
            <div class="inner-content">
                <img class="sustainable-image" src="{{ sustainable_image }}" alt="">
                {{ sustainable_text }}
                <div class="text-block">
                    {{ sustainable_text_title wrap="h6"}}
                    {{ sustainable_text_body wrap="p" }}
                </div>
                {{ /sustainable_text }}
            </div>
        </div>
    </div>
