{{ partial:b2b/header }}

{{ partial:b2b/inspiration_list }}

{{ partial:lollipop_builder_cta }}

<logo-slider title="{{ logo_slider_title }}">

    <template v-slot:logos>
        {{ logos }}
            <div class="slide logo-block " style="background-image: url('{{ company_logo }}');">
            </div>
        {{ /logos }}
    </template>

</logo-slider>

<div class="contact-section wrapper ">
    <div class="contact-wrapper">
        <div class="contact-txt">
            <h1>{{ contact_title }}</h1>
            <p>{{ contact_description }}</p>
        </div>

        <form id="form-contact">
            <fieldset>
                <div class="field-wrapper">
                    <input type="text" name="name" id="name" placeholder="Fx. Ida Jensen"
                        pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{1,20}$" required />
                    <label for="name">For- og efternavn</label>
                </div>
                <div class="field-wrapper">
                    <input type="text" name="comname" id="comname" placeholder="Firmanavn" />
                    <label for="comname">Firmanavn <small>(valgfrit)</small></label>
                </div>
                <div class="field-wrapper">
                    <input type="tel" name="tel" placeholder="Fx. +45 45 67 89 12" data-inputmask="mask"
                        id="tel" />
                    <label for="tel">Telefon nummer <small>(valgfrit)</small></label>
                </div>
                <div class="field-wrapper">
                    <input type="email" name="email" id="email" placeholder="Fx. ida@gmail.com" required />
                    <label for="email">E-mail</label>
                </div>
                <div class="form-town">
                    <div class="field-wrapper">
                        <input type="text" name="postcode" id="postcode" pattern="[0-9]{3,4}" placeholder="Fx. 1550" required />
                        <label for="postcode">Post nr.</label>
                    </div>
                    <div class="field-wrapper">
                        <input type="text" name="town" id="town" placeholder="Fx. København V" required />
                        <label for="town">By</label>
                    </div>
                </div>
                <div class="field-wrapper textarea">
                    <textarea name="message" id="message" placeholder="Skriv din besked her..." required></textarea>
                    <label for="message">Besked</label>
                </div>
            </fieldset>
            <button type="button" class="btn  m-0">Send besked</button>
        </form>
    </div>
    <div class="contact-details">
        <div class="adresse-1">
            <h5>Sugar Pilots Check-in</h5>
            <ul>
                {{ adresse_1 }}
                <li>{{ value }}</li>
                {{ /adresse_1 }}
            </ul>
        </div>
        <div class="adresse-2">
            <h5>Sugar Pilots Køkken</h5>
            <ul>
                {{ adresse_2 }}
                <li>{{ value }}</li>
                {{ /adresse_2 }}
            </ul>
        </div>
        <h5>Telefon</h5>
        <p>+45 {{ contact_tlf }}</p>
    </div>
</div>
