.section-home {
  .header {
    min-height: 100vh;
    .content {
      @include md {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      @include xlg {
        grid-template-columns: repeat(6, minmax(100px, 1fr));
      }

      .main-left {
        margin-bottom: 2rem;
        img {
          max-width: 500px;
        }
        @include md {
          margin-bottom: 0;
        }
      }

      .main-right {
        max-width: 520px;

        @include md {
          margin-left: -5rem;
        }
      }
    }
  }

  .video {
    margin-top: 2rem;
    text-align: center;
  }
}
