.lollipop-builder-cta {

    .inner-content {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .animation {
        max-width: 400px;
    }

    .main-right {
        max-width: 500px;
    }
}