<div class="shop_container">
    <div class="shop wrapper">
        <div class="nav_categories">

            {{ shop_category_info }}

            <!--<a href="#{{ shop_category_name | slugify }}">Link</a>-->

            <div class="shop_categories" style="background-color: {{ background_color }};">
                <img src="{{ shop_image }}" alt="" />
                <p>{{ shop_category_name }}</p>

            </div>

            {{ /shop_category_info }}

        </div>

        <div class="products_wrapper">
            {{ collection:categories }}
            <h1> {{ title }}</h1>

            {{ collection:product }}

            <p> {{ title }} </p>

            {{ /collection:product }}

            {{ /collection:categories}}


        </div>
    </div>
</div>