<div class="shop-container">
  <div class="shop wrapper">
    <div class="nav-categories" data-aos="fade-up" data-aos-duration="1000">
      {{ collection:categories }}
      <a href="#{{ title | slugify }}">
        <div
          class="shop-categories"
          style="background-color: {{ background_color }};"
        >
          <img src="{{ category_image }}" alt="" />
          <p>{{ title }}</p>
        </div>
        {{ /collection:categories }}
      </a>
    </div>

    <div class="products-wrapper">
      {{ collection:categories as="category" }} {{ category }} {{ if title !=
      "Gaver" && title != "Søde hilsner" }}
      <div id="{{ title | slugify }}" class="section">
        <h2 class="category-title">{{ title }}</h2>

        {{ collection:product product_category:is="{{ title }}" as="product" }}
        {{ product }}
        <div class="product-seperate {{ switch between='right|left' }}" data-aos="{{ switch between='fade-right|fade-left' }}" data-aos-duration="700">
          <div class="product-main-left">
            <img src="{{ product_picture }}" alt="" />
          </div>
          <div class="product-main-right {{ switch between='odd|even' }}">
            <h4>{{ title }}</h4>
            <h5>{{ product_category }}, {{ pcs_number }} stk.</h5>
            <h6 class="price-tag-block">{{ price_tag }} kr.</h6>
            <a
              class="btn expand-cursor {{ switch between='left|right' }}"
              href="{{ url }}"
              >Se mere</a
            >
          </div>
        </div>
        {{ /product }} {{ /collection:product }}
      </div>
      {{ /if }} 
      {{ /category }} 
      {{ /collection:categories }} {{ collection:categories as="category" }} 
      {{category}} 
      {{ if title == "Gaver" }}
      <h1 class="category-title" data-aos="fade-up" data-aos-duration="1000">{{ title }}</h1>
      <div class="gift-container" data-aos="fade-up" data-aos-duration="1000">
        {{ collection:product product_category:is="{{ title }}" as="product" }}
        {{product}}
        <div class="gift-wrapper">
          <div class="gift-main-top">
            <img src="{{ product_picture }}" alt="" />
          </div>
          <div class="gift-main-bottom">
            <h5>{{ title }}</h5>
            <h6 class="price-tag-block">{{ price_tag }} kr.</h6>
            <a class="btn expand-cursor" href="#">Tilføj til kurv</a>
          </div>
        </div>
        {{/product}} {{ /collection:product }}
      </div>
      {{ elseif title == "Søde hilsner" }}
      <h1 class="category-title" data-aos="fade-up" data-aos-duration="1000">{{ title }}</h1>
      <div class="gift-container" data-aos="fade-up" data-aos-duration="1000">
        {{ collection:product product_category:is="{{ title }}" as="product" }}
        {{product}}
        <div class="gift-wrapper">
          <div class="gift-main-top">
            <img src="{{ product_picture }}" alt="" />
          </div>
          <div class="gift-main-bottom">
            <h5>{{ title }}</h5>
            <h6 class="price-tag-block">{{ price_tag }} kr.</h6>
            <a class="btn expand-cursor" href="#">Tilføj til kurv</a>
          </div>
        </div>
        {{/product}} {{ /collection:product }}
      </div>
      {{ /if }} {{/category}} {{ /collection:categories }}
    </div>
  </div>
</div>
