<div class="header d-flex align-items-center">
  <div class="content wrapper">
    <div class="main-left">
      <img src="{{ header_image }}" alt="" />
    </div>

    <div class="main-right">
      <h4>{{ header_title  }}</h4>
      <p>{{ header_text }}</p>
      <ul class="ul-checkmark">
        {{ header_list }}
        <li>{{ text }}</li>
        {{ /header_list }}
      </ul>
    </div>
  </div>
  <p class="scroll-indicator expand-cursor">
    Find inspiration her <br />
    <span data-feather="arrow-down"></span>
  </p>
</div>