<div class="b2b-section" data-aos="fade-up" data-aos-duration="1000">
  <div class="wrapper narrow">
    <div class="content">
      <div class="main-left">
        <h4>{{ b2b_title }}</h4>
        <div class="b2b-section-text">
          {{ b2b_text }}
        </div>
        <a class="btn " href="/virksomheder">Læs mere</a>
      </div>

      <div class="main-right">
        {{ if b2b_image_1 }}
        <img class="b2b-section-image1"
        src="{{ b2b_image_1 }}" alt=""
        />
        {{ /if }} 

        {{ if b2b_image_2 }}
        <img class="b2b-section-image2" 
        src="{{ b2b_image_2 }}" alt=""
        />
        {{ /if }}
      </div>
    </div>
  </div>
</div>
