<div class="categories">
  <div class="wrapper narrow">
    <div class="content">
      <h2 class="text-center">{{ assortment_title }}</h2>
      <div class="inner-content">
        {{ collection:categories }}
        {{ if show_on_frontpage }}
        <div id="{{ title | slugify }}-{{ id }}" class="product-block">
          <div class="main-left {{ switch between='order| ' }}">
            <h4>{{ title }}</h4>
            <p>{{ category_text }}</p>
            <a href="/products#{{ title | slugify }}" class="btn expand-cursor {{ switch between='|right' }}">Se mere</a>
          </div>
          <div class="main-right">
            <img src="{{ category_image }}" alt="">
          </div>
        </div>
        {{ /if }}
        {{ /collection:categories }}
      </div>
    </div>
  </div>
</div>
