<div class="gift-idea mt-5 text-center">
  <div class="wrapper">
    <div class="gift-idea-top mb-4">
      <h2>{{ gift_idea_title }}</h2>
      <p>{{ gift_idea_text }}</p>
      <a class="btn" href="/shop#gave-ideer">Se alle gaveideer</a>
    </div>
    <div class="gift-idea-images">
        <img src="{{ gift_idea_image_1 }}" alt="">
        <img src="{{ gift_idea_image_2 }}" alt="">
        <img src="{{ gift_idea_image_3 }}" alt="">
        <img src="{{ gift_idea_image_4 }}" alt="">
    </div>
  </div>
</div>
