<div class="sustainable-section" data-aos="fade-up" data-aos-duration="1000">
    <div class="wrapper">
        <div class="content">
        <div class="left" style="background-image: url('{{ sustainable_image_1 }}');">
        </div>
        <div class="right">
          <div class="top">
          <h1>{{ sustainable_title }}</h1>
          
          <p>{{ sustainable_text }}</p>
          </div>
          <img src="{{ sustainable_image_2 }}" alt="">
        </div>
    </div>
      </div>
    </div>
