<div class="contact-container">
    <div class="contact">
        <div class="contact-info wrapper">
            <div class="contact-info-img">
                <img src="{{ contact_img_1 }}" alt="">
            </div>
            <div class="contact-info-txt">
                <h2> {{ contact_subtitle }}</h2>
                <p> {{ contact_description }}</p>
            </div>
        </div>

        <div class="contact-quote">
            <h1>{{ contact_txt_quote }}</h1>
            <img src="{{ contact_img_quote }}" alt="">
        </div>

        <div class="contact-about">
            <div class="contact-about-img">
                <img src="{{ contact_img }}" alt="">
            </div>
            <div class="contact-about-txt">
                <h1>{{ contact_title_about }}</h1>
                <p>{{ om_charlotte }}</p>
            </div>
        </div>
    </div>
</div>