a.btn {
    border-radius: 0px;
    position: relative;
    z-index: 2;
    font-weight: 600;

    &::before {
        content: '';
        position: absolute;
        max-width: 50%;
        width: 100%;
        height: 100%;
        top: 0;
        background-color: $pink;
        z-index: -1;
        transition: max-width .3s ease-in-out;
    }

    &:not(.right)::before {
        left: 0;
    }
    &.right::before {
        right: 0;
    }

    &:hover {
        &::before {
            max-width: 100%;
        }
    }
}