.custom-order-title {
    margin-top: 8rem;
    @include md {
        margin-top: 170px;
    }
}

.configuration {
  margin-top: 4rem;
  h6 {
    margin-bottom: 0;
  }

  display: grid;
  grid-template-columns: 100%;

  @media (min-width: 1100px) {
    grid-template-columns: 60% 40%;
  }

  &--options {
    .option {
      margin-bottom: 3rem;

      @include md {
        margin-bottom: 5rem;
      }

      &.disabled {
        opacity: 0.7;
        pointer-events: none;
      }

      &.select-size,
      &.select-amount {
        display: flex;
        justify-content: start;
        margin-top: 1rem;
        flex-wrap: wrap;
        p {
          font-size: 0.7rem;
          font-weight: 500;
        }
        .size-option,
        .amount-option {
          border: 1px solid #eef0f5;
          border-radius: 3px;
          margin: auto;
          text-align: center;
          margin-bottom: 1rem;

          @media (min-width: 991px) {
            width: 90%;
            margin-bottom: 0;
          }

          &.selected {
            border: 2px solid $pink;
            box-shadow: 0 0.7rem 1rem 0 rgba(0, 0, 0, 0.06);
          }

          p {
            margin-bottom: 0;
          }

          &:nth-child(1) {
            margin-left: 0;
          }

          &:last-child {
            margin-right: 0;
          }

          &-top {
            padding: 1.5rem;
          }
        }
      }

      &.select-color {
        display: flex;
        max-width: 90%;
        justify-content: start;
        flex-wrap: wrap;
        margin-top: 1rem;

        @media (min-width: 991px) {
          justify-content: space-between;
        }

        .color-option {
          margin: 0.5rem 1rem;
          text-align: center;

          @include md {
            margin: 0;
          }

          &.selected {
            .color {
              border: 2px solid #fff;
              box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.1);
            }
          }

          .color {
            width: 40px;
            height: 40px;
            background-color: var(--bg-color);
            padding: 0.5rem;
            border-radius: 50%;
            margin: auto;
            margin-bottom: 0.4rem;
          }

          .color-name {
            opacity: 1;
            font-weight: 700;
          }

          &:not(.selected) {
            .color-name {
              opacity: 0.5;
              font-weight: 500;
            }
          }
        }
      }
    }
  }

  &--summary {
    width: 100%;
    height: 100%;

    @media (min-width: 1100px) {
      border-left: #d5d6db 1.5px solid;
    }

    .inner-content {
      top: 100px;
      position: sticky;
    }

    h1 {
      margin-bottom: 1rem;
      @media (min-width: 1100px) {
        max-width: 80%;
        margin: auto;
        margin-bottom: 1rem;
      }

      .helper-label {
        font-size: 40%;
         font-family: montserrat, sans-serif;
         font-family: 600;
      }
    }

    .summary-list {
      width: 100%;
      margin: auto;
      border: 2px solid #eef0f5;
      border-radius: 3px;
      padding: 1.5rem;
      margin-bottom: 4rem;

      @media (min-width: 1100px) {
        margin-bottom: 0;
        width: 80%;
      }

      .list-item {
        display: flex;
        justify-content: space-between;

        .title {
          opacity: 0.6;
        }

        .color-value {
          position: relative;
          &::before {
            position: absolute;
            content: "";
            height: 15px;
            width: 15px;
            background-color: var(--bg-color);
            border-radius: 50%;
            top: 50%;
            left: -20px;
            transform: translateY(-50%);
          }
        }
      }
    }
  }
  .contact-information-form {
      padding: 0 2rem;

      input {
          width: 100% !important;
      }
    label {
        margin-bottom: 0;
    }
  }




.form-group {
  width: 100%;
  height: calc(1.66em + 0.75rem + 2px);
  padding: 0.375rem 0.95rem;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.66;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 1px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  position: relative;

  @include md {
    width: 80%;
  }

  &::after {
    font-family: "icons";
    content: "\e803";
    position: absolute;
    right: 0.9rem;
    font-size: 0.9em;
    top: 50%;
    color: #e6e6e6;
    transform: translateY(-50%);
  }

  select {
    display: block;
    width: 80%;
    max-width: 100%;
    margin: 0;
    border: none;
    box-shadow: none;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}

input {
  display: block;
  width: 100%;
  height: calc(1.66em + 0.75rem + 2px);
  padding: 0.375rem 0.95rem;
  font-size: 0.9375rem;
  line-height: 1.66;
  color: #495057;
  background-color: white;
  border: 1px solid #ced4da;
  border-radius: 1px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);

  @include md{
    width: 80%;
  }

  &:not(.is-invalid) + .invalid-message,
  &.is-invalid.focus-visible:not(:placeholder-shown) + .invalid-message,
  &.is-invalid:placeholder-shown + .invalid-message {
   display: none;
  }

  &.is-invalid:not(.focus-visible):not(:placeholder-shown) {
    border: red 1px solid;
    background-image: url("https://cdn3.iconfinder.com/data/icons/flat-actions-icons-9/792/Close_Icon_Circle-512.png");
    background-size: contain;
    background-position: 95%;
    background-repeat: no-repeat;
    animation: invalidShake 0.2s;

    & + .invalid-message {
      font-weight: 600;
      color: red;
      margin-top: .25rem;
      font-size: 70%;
    }
  }
}





@keyframes invalidShake {
  25% {
    transform: translateX(8px);
  }
  50% {
    transform: translateX(-8px);
  }
}

.col-12 input {
  @include md {
    width: 90%;
  }
}

.col-12.col-md-6 input,
.col-12.col-md-4 input {
  @include md {
    width: 80%;
  }
}

.col-12.col-md-8 input {
  @include md {
    width: 85%;
  }
}

.helper-label {
  font-size: 70%;
  opacity: 0.6;
  font-weight: 700;
}

.form-label {
  padding-top: calc(0.375rem + 1px);
  padding-bottom: calc(0.375rem + 1px);
  margin-bottom: 0;
  font-weight: 500;
  font-size: inherit;
  line-height: 1.66;
}

.group {
  margin-bottom: 2rem;
}

.col-6 {
  padding: 0;
}

.hidden-form {
  display: none;
}
}
