.video {
        margin-top: 2rem;
        text-align: center;
        p {
            max-width: 900px;
            margin: auto;
            margin-block-start: 2rem;
        }

        .embed-container {
            margin-block-start: 3rem;
        }
}

  