.shop-container {
  .nav-categories {
    display: grid;
    grid-gap: 20px;
    align-items: center;
    justify-items: center;
    margin-top: 100px;

    .nav-categories {
        display:  grid;
        grid-gap: 20px;
        .shop-container {

            .nav-categories {
            
                display:  grid;
                grid-gap: 20px;
                align-items: center;
                justify-items: center;
                margin-top: 100px;
            
            @include s {
                grid-template-columns: repeat(3, 1fr);
            }
            
                @include lg {
                grid-template-columns: repeat(6, 1fr);
            }
            
                .shop-categories {
                    text-align: center;
            
                    img {
                        min-height: 200px;
                        max-height: 200px;
                        height: 100%;
                        min-width: 140px;
                        object-fit: cover;
                        -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.05);
                        -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.05);
                        box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.05);
                    }
            
                    p {
                        margin-top: 10px;
                        padding-bottom: 0.5rem;
                    }
            
                }
            }
            
            .products-wrapper {
                text-align: center;
                margin-top: 60px;
            
                .category-title {
                 margin-top: 100px; 
                 margin-bottom: 2rem;  
                }
            
                .product-seperate {
            
            display: flex;
            justify-content: center;
            align-items: initial;
            text-align: left;
            padding: 20px;
            flex-direction: column;
            
            @include s { 
                flex-direction: row;
                margin: 0 8rem;
                align-items: center;
            }
            
                    .product-main-left img {
                      max-width: 400px;
                      vertical-align: middle;
                      max-height: 400px;
                      object-fit: cover;
                    }
            
                    .product-main-right {
                        max-width: 450px;
                        margin-left: 2rem;
                        text-transform: capitalize;
                        width: 40%;
            
                        h5 {
                            @include font-size(18px, 24px); 
                        }
            
                    }
               
                .even {
                    @include s {
                    order: -1;
                    text-align: right;
                    margin-right: 2em;
                    }  
                }
            
                .odd {
                    margin-left: 2rem;
                }
            }
            
            .gift-container {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-gap: 30px;
                padding: 1rem 0 1rem 10rem;
            
                .gift-wrapper {
                    display: flex;
                    flex-direction: column;
            
                    .gift-main-bottom {
                        text-align: left;
                        padding: 1rem;
            
                        h5, h6 {
                            @include font-size(18px, 24px); 
                        }
                    }
                }
            }
            
            }
            }
        align-items: center;
        justify-items: center;
        margin-top: 100px;
    
    @include s {
      grid-template-columns: repeat(3, 1fr);
    }

    @include lg {
      grid-template-columns: repeat(6, 1fr);
    }

    .shop-categories {
      text-align: center;

      img {
        min-height: 200px;
        max-height: 200px;
        height: 100%;
        min-width: 140px;
        object-fit: cover;
        box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.05);
      }

      p {
        margin-top: 10px;
        padding-bottom: 0.5rem;
      }
    }
  }

  .products-wrapper {
    text-align: center;
    margin-top: 60px;

    .category-title {
      margin-top: 100px;
      margin-bottom: 2rem;
    }

    .product-seperate {
      display: flex;
      justify-content: center;
      align-items: initial;
      text-align: left;
      padding: 20px;
      flex-direction: column;

      @include md {
        flex-direction: row;
        margin: 0 8rem;
        align-items: center;
      }

      .product-main-left img {
        max-width: 400px;
        vertical-align: middle;
        max-height: 400px;
        object-fit: cover;
      }

      .product-main-right {
        max-width: 450px;
        margin-left: 1rem;
        text-transform: capitalize;
        margin-top: 1rem;

        @include md {
            margin-top: 0;
        }

        h5 {
          @include font-size(18px, 24px);
        }
      }

      .even {
        @include md {
          order: -1;
          text-align: right;
          margin-right: 2em;
        }
      }

      .odd {
        margin-left: 1rem;
        @include md {
          margin-left: 2rem;
        }
      }
    }

    .gift-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      grid-gap: 30px;

      .gift-wrapper {
        display: flex;
        flex-direction: column;
        margin: 1.5rem 0;

        .gift-main-bottom {
          text-align: left;
          padding: 1rem;
          height: 100%;
          display: flex;
          flex-direction: column;

          .btn {
            width: fit-content;
            margin-top: auto;
          }

          h5,
          h6 {
            @include font-size(18px, 24px);
          }
        }
      }
    }
  }
}
