.product-slider {
  h1 {
    @include font-size(35px, 50px);
  }
}

.product-slide {
  max-width: 300px;
  img {
    margin-bottom: 1rem;
  }

  h5 {
    @include font-size(18px, 28px);
  }

  .product-category {
    font-weight: 400;
    @include font-size(14px, 18px);
  }

  .price-tag {
    font-family: montserrat, sans-serif;
    font-weight: 700;
    @include font-size(18px, 20px);
  }
}

.slick-slide > div {
  display: grid;
  justify-items: center;
}
