.products-container {
  .products-content {
    display: flex;
flex-direction: column;

@include s {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
  }

  @include md {
    margin-top: 80px;
  }

  @include xl {
    margin-left: 80px;
  }

    .product-content-txt {
      @include s {
      max-width: 50%;
    }

      .product-title {
        font-family: montserrat, sans-serif;
        @include antialiased();
      }

      .product-category {
        font-weight: 400;
      }

      .price-tag {
        position: relative;
        display: inline-block;
        padding-left: 5px;
        margin-bottom: 30px;

        &:before {
          content: "";
          position: absolute;
          width: 110%;
          height: 45%;
          border-radius: 5px;
          top: 30%;
          left: 0;
          background-color: #fbbdc6;
          z-index: -1;
          transition: max-width 0.3s ease-in-out;
        }
      }

      .description-wrapper {
        margin-top: 30px;
        margin-bottom: 40px;
        padding-right: 20px;

        p {
          @include md {
            padding-right: 0;
          max-width: 80%;
        }
        }
      }

      .nutrients-container {
        .nutrient-wrapper {
          display: flex;
          margin-top: 10px;

          .nutrients-data {
            text-align: right;
          }
        }

        ul {
          li {
            @include font-size(10px, 12px);
          }
        }
      }

      summary::-webkit-details-marker {
        display: none;
      }

      summary {
        display: flex;
        flex-direction: row;
        align-items: center;
        @include headline_bold();
        @include font-size(18px, 22px);

        &:after {
          content: "+";
          height: 15px;
          width: 15px;
          font-size: 17px;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px black solid;
          border-radius: 50%;
          padding: 2px 2px 0px;
          margin-left: 12px;
        }
      }

      details {
        &[open] {
          summary:after {
            content: "-";
            height: 15px;
            width: 15px;
            font-size: 17px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px black solid;
            border-radius: 50%;
            padding: 0px 2px 0px;
            margin-left: 12px;
          }
        }
      }
    }

    .ingredients-container {
      position: relative;

      @include s {
      max-width: 200%;
      width: 200%;
    }

      .ingredient-wrapper {
        display: flex;
        margin-top: 10px;
        margin-bottom: 60px;
        overflow-x: scroll;
        overflow-y: hidden;
        padding-left: 10px;

        @include md {
          padding-left: 0;
        }

        &::after {
          content: "";
          position: absolute;
          right: -10px;
          top: 60%;
          transform: translateY(-50%) rotate(45deg);
          border-color: black black transparent transparent;
          border-style: solid;
          border-width: 3px 3px 3px 3px;
          height: 15px;
          width: 15px;

          @include md {
            display: none;
          }
        }
        &::before {
          content: "";
          position: absolute;
          left: -5px;
          top: 60%;
          transform: translateY(-50%) rotate(225deg);
          border-color: black black transparent transparent;
          border-style: solid;
          border-width: 3px 3px 3px 3px;
          height: 15px;
          width: 15px;

          @include md {
            display: none;
          }
        }

        @include md{
          overflow-x: initial;
          overflow-y: initial;
          margin-top: 20px;
        }

        .ingredient {
          text-align: center;
          padding: 25px 10px;
          height: 180px;
          position: relative;
          width: 160px;
          min-width: 160px;
          margin-right: 20px;
          text-transform: uppercase;
          font-variant-caps: all-small-caps;

          h5 {
            max-width: 160px;
            width: 100%;
            @include font-size(18px, 24px); 
          }

          img {
            width: auto;
            max-height: 120px;

        @include md {
            max-width: 120px;
            max-height: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%);
          }
        }
        }
      }
    }

    .product-content-image {
      height: 100%;
      width: 100%;
      height: 350px;
      order: -1;

      @include s {
        order: 0;
        height: 550px;
        margin-top: 20px;
      }

      @include md {
        margin-top: 0;
      }
    }
  }

  .inspi-section {
    display: flex;
    justify-content: center;
margin: 20px;

@include md {
    margin: 60px;
  }

    .img_big {
max-width: 200px;
height: 250px;
width: 100%;

@include s {
      max-width: 500px;
      height: 500px;
    }
    }

    .img_small {
      width: 100%;
      margin-top: 50px;
      margin-left: -50px;
      height: 150px;
      max-width: 200px;

      @include s {
      height: 350px;
      max-width: 300px;
      margin-top: 70px;
    }
      
    }
  }
}
