.contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px 0;

    img {
        max-height: 450px;
        max-width: 500px;
        object-fit: cover;
    }

    .contact-info-txt {
        margin-left: -5rem;
        z-index: 1;    
        max-width: 520px;
    }
}